body {
    background-color: black;
    color: white;
}

.wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-box {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}